/.idea/
/out/

/Lab00/.idea/
/Lab00/docs/
/Lab00/out/
/Lab00/Lab00.iml/

/Lab01/Lab01.iml

/Lab02/Lab02.iml
/Lab02/Lab02.zip
/Lab02/out/
/Lab02/docs/
/Lab02/.idea/

/Lab03/.idea/
/Lab03/out/
/Lab03/Lab03.iml
/Lab03/Lab03(Makeup).iml
/Lab03/Lab03.zip

/Lab04/.idea/
/Lab04/out/
/Lab04/Lab04.zip
/Lab04/Lab04.iml

/Lab05/.idea/
/Lab05/out/
/Lab05/Lab05.iml
/Lab05/Lab05.zip

/Lab06/.idea/
/Lab06/out/
/Lab06/Lab06.iml
/Lab06/Lab06.zip

/Lab07/.idea/
/Lab07/out/
/Lab07/Lab07.iml
/Lab07/Lab07.zip

/Lab08/.idea/
/Lab08/out/
/Lab08/Lab08.iml
/Lab08/Lab08.zip

/Lab09/Lab09.iml

/Lab11/.idea/
/Lab11/out/
/Lab11/Lab11.zip
/Lab11/Lab11.iml
